body {
	border: 1px solid #f2f2f2;
	padding: 10px;
	width: 300px;
	box-shadow: 5px 5px 20px #ccc;	
}

.fact {
	font-style: italic;
}

.animal {
	width: 300px;
}

.list {
	list-style: none;
	padding-left: 0px;
}

.label {
	font-weight: bold;
}

.detail {
	border: 1px solid #f2f2f2;
	padding: 10px;
	margin-top: 20px;
}